/* general styling */
body {
  font-size: 10px;
  height: 100%;
	width: 100%;
	height: inherit;
}

canvas {
  display: block;
}

/* header styling */

h1 {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 3rem;
  margin: 0;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.3) ;
}

.hide {
  display: none;
}

.clear {
  top: 6px;
  left: 5px;
}

.start-message {
  position: absolute;
  font-size: 3em;
  left: 5px;
}

.control-message {
  position: absolute;
  font-size: 1.4rem;
  top: 70px;
  left: 5px;
}
